body.post-type-archive-fotoperiodismo {
	& .et-models-archive-header {
		padding-left: var(--wp--preset--spacing--60);
		padding-right: var(--wp--preset--spacing--60);
	}
	
	& .wp-block-query:where(.et-models-fotoperiodismo-feed-query) .et-models-fotoperiodismo-feed-items {
		display: grid;
		grid-template-columns: repeat(1,1fr);
		gap: 0;
	}
}

@media (min-width: 768px) {
	body.post-type-archive-fotoperiodismo {
		& .wp-block-query:where(.et-models-fotoperiodismo-feed-query) .et-models-fotoperiodismo-feed-items {
			grid-template-columns: repeat(2,1fr);
		}
	}
}

@media (min-width: 1536px) {
	body.post-type-archive-fotoperiodismo {
		& .wp-block-query:where(.et-models-fotoperiodismo-feed-query) .et-models-fotoperiodismo-feed-items {
			grid-template-columns: repeat(3,1fr);
		}
	}
}