body.single.single-fotoperiodismo {
	& .wp-site-blocks,
	& main,
	& .et-models-single-fotoperiodismo-header-content,
	& footer.site-footer {
		margin-top: 0;
		margin-bottom: 0;
	}

	& .wp-site-blocks {
		padding-top: 0;
	}

	& .et-models-single-fotoperiodismo-header,
	& .et-models-single-fotoperiodismo-header .wp-block-post-featured-image,
	& .et-models-single-fotoperiodismo-header-content,
	& .et-models-single-fotoperiodismo-header-content > .wp-group {
		aspect-ratio: 9 / 16;
	}

	& .et-models-single-fotoperiodismo-header {
		position: relative;
		overflow: hidden;
	}

	& .et-models-single-fotoperiodismo-header .wp-block-post-featured-image {
		position: absolute;
		inset: 0;
		height: 100%;
		
		&::after {
			content: "";
			inset: 0;
			position: absolute;
			background: 
				linear-gradient(
					to bottom, 
					transparent 60%, 
					var(--wp--preset--color--contrast) 80%
				),
				var(--wp--preset--color--primary);
			mix-blend-mode: multiply;
			transition: background 0.3s ease;
		}

		& img {
			height: 100%;
		}
	}

	& .et-models-single-fotoperiodismo-header-content {
		position: relative;
		display: flex;
		padding: var(--wp--preset--spacing--60);
	}

	& .et-models-single-fotoperiodismo-header-content > .wp-block-group {
		justify-content: flex-end;
	}

	& .et-models-single-fotoperiodismo-content {
		max-width: unset;
	}

	& .et-theme-banner-container {
		width: 100%;
	}

	& .et-models-single-fotoperiodismo-content-wrapper > .wp-block-group:last-child {
		/* width: 100%; */
	}

}

@media (min-width: 480px) {
	body.single.single-fotoperiodismo {
		& .et-models-single-fotoperiodismo-header,
		& .et-models-single-fotoperiodismo-header .wp-block-post-featured-image,
		& .et-models-single-fotoperiodismo-header-content,
		& .et-models-single-fotoperiodismo-header-content > .wp-group {
			aspect-ratio: 3/4;
		}
	}
}

@media (min-width: 640px) {
	body.single.single-fotoperiodismo {
		& .et-models-single-fotoperiodismo-header,
		& .et-models-single-fotoperiodismo-header .wp-block-post-featured-image,
		& .et-models-single-fotoperiodismo-header-content,
		& .et-models-single-fotoperiodismo-header-content > .wp-group {
			aspect-ratio: 5/4;
		}
	}
}

@media (min-width: 1024px) {
	body.single.single-fotoperiodismo {
		& .et-models-single-fotoperiodismo-header,
		& .et-models-single-fotoperiodismo-header .wp-block-post-featured-image,
		& .et-models-single-fotoperiodismo-header-content,
		& .et-models-single-fotoperiodismo-header-content > .wp-group {
			aspect-ratio: 16/9;
		}
	}
}

@media (min-width: 1280px) {
	body.single.single-fotoperiodismo {
		& .et-models-single-fotoperiodismo-content {
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			width: 100%;
		}

		& .wp-block-enfantterrible-fotoperiodismo-excerpt-long {
			max-width: var(--wp--style--global--content-size);
		}

		& .et-theme-banner-container {
			position: sticky;
			top: 8rem;
			max-width: 30rem;
		}
	}
}