/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-camalote-wp-nota-de-tapa__inner {
	position: relative;
}

.wp-block-camalote-wp-nota-de-tapa__image {
	width:100%;
	height:100%;
	object-fit: cover;
	aspect-ratio: 16/9;
	display: block;
}

.wp-block-camalote-wp-nota-de-tapa__content {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: var(--wp--preset--spacing--50);
	color: var(--wp--preset--color--white);
}
.wp-block-camalote-wp-nota-de-tapa__meta {
	display: flex;
  	gap: var(--wp--style--block-gap);
}

.wp-block-camalote-wp-nota-de-tapa__media {
	aspect-ratio: 16/9;
}

.wp-block-camalote-wp-nota-de-tapa__media::after {
  background: linear-gradient(0deg, rgba(0, 0, 0,1) 0%, rgba(0, 0, 0,0) 100%);
  content: '';
  position: absolute;
  inset: 0;
}