/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-enfantterrible-fotoperiodismo-images {
	padding: var(--wp--preset--spacing--40);
	background-color: var(--wp--preset--color--base);
	filter: brightness(0.95);
	border: 1px solid var(--wp--preset--color--cyan-bluish-gray);
	display: flex;
	flex-direction: column;
	gap: var(--wp--style--block-gap);

	& .wp-block-enfantterrible-fotoperiodismo-images-header {
		border-bottom: 1px solid var(--wp--preset--color--cyan-bluish-gray);

		& p {
			font-weight: bold;
			margin: 0;
			padding-bottom: var(--wp--preset--spacing--20);
		}
	}
}