<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:group {"align":"full"} -->
	<div class="wp-block-group et-models-single-fotoperiodismo-header alignfull">
		<!-- wp:group {"layout":{"type":"flex"}} -->
		<div class="wp-block-group">
			<!-- wp:post-featured-image /-->
		</div>
		<!-- /wp:group -->
		<!-- wp:group -->
		<div class="wp-block-group et-models-single-fotoperiodismo-header-content">
			<!-- wp:group {"layout":{"type":"flex", "orientation":"vertical"}} -->
			<div class="wp-block-group">
				<!-- wp:post-title {"level":1, "textColor":"base"} /-->
				<!-- wp:pattern {"slug":"et-models/single-fotoperiodismo-base-meta"} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {
			"align":"full", 
			"layout": {
				"type":"constrained"
			}
		} -->
	<div class="wp-block-group alignfull et-models-single-fotoperiodismo-content-wrapper">
		<!-- wp:group {"layout":{"type":"flex", "orientation":"vertical"}} -->
		<div class="wp-block-group et-models-single-fotoperiodismo-content">
			<!-- wp:enfantterrible/fotoperiodismo-excerpt-long /-->
			<!-- wp:pattern {"slug":"et-theme/banner-asociate"} /-->
		</div>
		<!-- /wp:group -->
		<!-- wp:group {"align":"full"} -->
		<div class="wp-block-group alignfull">
			<!-- wp:enfantterrible/fotoperiodismo-images /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
