/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-enfantterrible-fotoperiodismo-images-item {
	display:flex;
	align-items: center;
	gap: var(--wp--style--block-gap);
	padding: var(--wp--preset--spacing--20);
  	border: 1px solid var(--wp--preset--color--neutral-light);
	// background-color: var(--wp--preset--color--neutral-light);

	& .block-editor-block-mover__move-button-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.wp-block-enfantterrible-fotoperiodismo-images-item .image-item__media {
	display: flex;
	gap: var(--wp--style--block-gap);
	width: 100%;

	& img {
		width: 128px;
		height: 128px;
		object-fit: cover;
		aspect-ratio: 1 / 1;
	}

	& p {
		margin: 0;
		font-size: var(--wp--preset--font-size--x-small);
		word-break: break-all;
	}

	& .image-item__data {
		width: 100%;
	}

	& .image-item__actions {
		display: flex;
		gap: var(--wp--style--block-gap);
		margin-top: var(--wp--preset--spacing--20);
	}
}
